<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<center>
    <h2 style="margin-top:30px;">Stock Report</h2>
<table class="report">
    <tr><th>Name</th>
        <th>Stock</th></tr>
    <tr><td>Coffee Powder (in grams)</td>
        <td>{{coffee}}</td></tr>
     <tr><td>Milk (in ml)</td>
        <td>{{milk}}</td></tr>
    <tr><td>Water (in ml)</td>
        <td>{{water}}</td></tr>
    <tr><td>Amount credited (in $)</td>
        <td>{{amount}}</td></tr>

</table>
    </center>

</body>
</html>